<!DOCTYPE html>
{% extends 'base.html' %}
{% load static %}
<html lang="en">

<head>
    {% block extrahead %}
    <style>
        .done {
            text-align: center;
            margin: 50px 0;
        }

        @media screen and (min-width: 1024px) {}

        @media screen and (max-width: 820px) {}

        @media screen and (max-width: 480px) {
            .done {
                font-size: 0.9rem;
            }
        }
    </style>
    {% endblock %}
</head>

<body>
    {% block content %}
    <div class="header">
        <h1 style="text-align:center">Password Change <br>Successful</h1>
    </div>
    <p class="done">Your password was changed successfully.</p>
    {% endblock content %}
</body>

</html>