<!DOCTYPE html>
{% extends 'base.html' %}
{% load static %}
<html lang="en">

<head>
    {% block extrahead %}
    <style>
        .set {
            text-align: center;
            margin: 50px 0;
        }

        a {
            text-decoration: underline;
            color: #36013F;
        }

        @media screen and (min-width: 1024px) {
            .set {
                font-size: 1.2rem;

            }
        }

        @media screen and (max-width: 820px) {}

        @media screen and (max-width: 480px) {
            .set {
                font-size: 0.9rem;

            }
        }
    </style>
    {% endblock %}
</head>

<body>
    {% block content %}
    <div class="main-body">
        <div class="header">
            <h1>Password reset complete</h1>
        </div>
        <p class="set">Your new password has been set. You can log in now on the <a href="{% url 'login' %}"> Login</a>
            page.</p>
    </div>
    {% endblock content %}

</body>

</html>