<!DOCTYPE html>
{% extends 'base.html' %}
{% load static %}
<html lang="en">

<head>
    {% block extrahead %}
    <!-- CSS File link -->
    <link rel="stylesheet" href="{% static './static/css/about.css' %}">

    <!-- JS File link -->
    <script src="{% static './static/js/reveal.js' %}"></script>
    {% endblock %}

</head>

<body>
    {% block content %}
    <div class="main-body">
        <div class="header">
            <h1>About Us</h1>
        </div>
        <p class="description reveal">
            We at Bewise Academy Strongly believes that anyone who has the desire to be successful must be committed to
            excel.
            Excellence comes when one is willing to put in the required effort, hard work and does not take short cuts.
            With this conscientious, we take this responsibility that we have achieve success in teaching and
            transferring knowledge to students of these curriculums.
            It was a remarkable journey over the past 5 years in transforming education to students of age group 11 – 16
            years old.
            The WoW factor of BeWise Academy is the excitement of students learning and their interest towards the
            subject.
            We believe that every student has unique learning process. Imagination is circumstantial in each student.
            And this edge was identified and Be Wise Academy was brainchild of <span style="color:#36013F;"><i>Ms.
                    Ayisha Firdos.</i></span>
        </p>
        <div class="header__center reveal">
            <h1>Our Mission</h1>
        </div>
        <p class="description reveal" style="text-align:center;">
            <span style="text-align:center;">The core competence of Be Wise is –</span>
        </p>
        <div class="points reveal">
            <ul>
                <li>To Personalise the learning by giving students One to One attention.</li>
                <li>To Conceptualised the skills by restructuring the foundation as per the requirement of the students.
                </li>
                <li>Our vision is to provide Quality education, revitalizing knowledge and endeavour teaching techniques
                </li>
                <li>Our belief is to improvise the detailing of concepts and build the core foundation skills of math
                    and Sciences.</li>
                <li>Our passion has always been on core cognitive learning of the child. </li>
            </ul>

        </div>

        <div class="header__center reveal">
            <h1>Our Values</h1>
        </div>
        <div class="our-values reveal">
            <div class="values">
                <img src="{% static './static/content/decision-making.png' %}" alt="">
                <h3>Decision Making Skills </h3>
            </div>
            <div class="values"><img src="{% static './static/content/education.png' %}" alt="">
                <h3>Commitment for Quality Education</h3>
            </div>
            <div class="values"><img src="{% static './static/content/idea.png' %}" alt="">
                <h3>Ambitious, Outstanding and Creative </h3>
            </div>
            <div class="values"><img src="{% static './static/content/consistency.png' %}" alt="">
                <h3>Consistent and more Reliable </h3>
            </div>
        </div>
        <div class="header__center reveal">
            <h1>Our Founder</h1>
        </div>
        <div class="founder reveal">
            <img src="{% static './static/content/founder.jpg' %}" alt="founder">
            <p><b>Ms. Ayisha Firdous<br>Founder of BeWise Academy</b></p>
            <p>Ayisha Firdos is an Entrepreneur, a math Enthusiast and a Perseverant Expert
                Tutor. She has a M.Tech in Structural Engineering and about 5 years of Global teaching and Research
                Experience.
                She has both Offline and Online teaching experience. An Expert in teaching IB DP (Year 12 & 13),
                Cambridge (IGCSE, AS and A level) and ICSE curriculums.</p>

        </div>

    </div>

    {% endblock content %}

</body>

</html>