<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BeWise Academy</title>

    <!-- Google Font link -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@300;400;900&display=swap" rel="stylesheet">

    <!-- Favicon link -->
    <link rel="icon" href="{% static './static/content/favicon.ico' %}">

    <!-- Font Awsome Icons link -->
    <script src="https://kit.fontawesome.com/562a44d30d.js" crossorigin="anonymous"></script>

    <!-- CSS File link -->
    <link rel="stylesheet" href="{% static './static/css/base.css' %}">

    <!-- JS File link -->
    <script src="{% static './static/js/sidemenu.js' %}"></script>
    <script src="{% static './static/js/reveal.js' %}"></script>

    {% block extrahead %}{% endblock %}

</head>

<body>
    <div class="nav-bar">
        <a href="{% url 'home' %}" style="text-decoration:none; color:#36013F;">
            <div class="nav-bar-1">
                <img src="{% static './static/content/Logo.png' %}" alt="Logo">
                <p><b>BeWise<br> Academy</b></p>
            </div>
        </a>

        <div class="nav-bar-2">
            <a href="{% url 'home' %}">Home</a>
            <a href="{% url 'about' %}">About Us</a>
            <a href="{% url 'services' %}">Services</a>
            <a href="{% url 'price' %}">Pricing</a>
            <a href="{% url 'resources' %}">Resources</a>
            <a href="{% url 'payment' %}">Payment</a>
            <a href="{% url 'blogList' %}">Blogs</a>
            <a href="{% url 'contact' %}">Contact Us</a>
        </div>

        {% if user.is_authenticated %}
        <div class="nav-bar-3" style="width:20%">
            <img class="nav-bar-3-img" src="{% static './static/content/logout.png' %}" alt=""><a
                href="{% url 'logout' %}"> Logout </a> | <img class="nav-bar-3-img"
                src="{% static './static/content/edit.png' %}" alt=""> <a href="{% url 'edit_profile' %}"> Edit
                Profile</a>
        </div>
        {% else %}
        <div class="nav-bar-3" style="width:8%">
            <img class="nav-bar-3-img" src="{% static './static/content/login.png' %}" alt=""><a
                href="{% url 'login' %}">Login</a>
        </div>
        {% endif %}

        <div id="popup-message" class="popup">
            <span class="popuptext" id="popup-text"></span>
        </div>

        <div id="mySidenav" class="sidenav">
            <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
            <a href="{% url 'home' %}">Home</a>
            <a href="{% url 'about' %}">About</a>
            <a href="{% url 'price' %}">Pricing</a>
            <a href="{% url 'services' %}">Services</a>
            <a href="{% url 'resources' %}">Resources</a>
            <a href="{% url 'payment' %}">Payment</a>
            <a href="{% url 'blogList' %}">Blogs</a>
            <a href="{% url 'contact' %}">Contact Us</a>

            <div class="sidenav2" style="display:flex; margin-top: 30px;">
                {% if user.is_authenticated %}
                <a href="{% url 'logout' %}"> <img class="nav-bar-3-img"
                        src="{% static './static/content/logout-w.png' %}" alt=""> &nbsp;Logout</a>
                
                <a href="{% url 'edit_profile' %}"> <img class="nav-bar-3-img"
                        src="{% static './static/content/edit-w.png' %}" alt=""> &nbsp;Edit Profile</a>
                {% else %}
                <a href="{% url 'login' %}"> <img class="nav-bar-3-img"
                    src="{% static './static/content/login-w.png' %}" alt=""> &nbsp;Login</a>
                {% endif %}
            </div>
        </div>
        <div class="side-bar">
            <!-- Use any element to open the sidenav -->
            <span id="side-menu-button" onclick="openNav()"><i class="fa-solid fa-bars" style="color:white;"></i></span>
        </div>
    </div>
    {% block content %}
    {% endblock content %}

    <div class="footer">
        <div class="footer1">
            <div class="footer1-1">
                <p class="p1"><b>BeWise Academy</b></p>
                <p class="p2">1643/22/A/B, Teachers colony,<br> HBR Layout 2nd Block, Stage 1, <br>Bengaluru
                    560043</p>
            </div>
            <div class="footer2-1">
                <img src="{% static './static/content/Logo.png' %}" alt="logo">
                <p><b>BeWise<br>Academy</b></p>
            </div>
        </div>
        <div class="footer2">
            <div class="footer2-2">
                <a href="{% url 'home' %}">Home</a>
                <a href="{% url 'about' %}">About Us</a>
                <a href="{% url 'services' %}">Services</a>
                <a href="{% url 'price' %}">Pricing</a>
                <a href="{% url 'resources' %}">Resources</a>
                <a href="{% url 'payment' %}">Payment</a>
                <a href="{% url 'blogList' %}">Blogs</a>
                <a href="{% url 'contact' %}">Contact Us</a>
            </div>
            <div class="footer2-3">
                <a href="https://www.instagram.com/bewiseacademy2019/profilecard/?igsh=MXViY3dzcGJhdDk2dQ=="
                    class="footer-links"><i class="fa-brands fa-instagram"
                        style="color: white; font-size: 1.5rem;"></i></a>
            </div>
        </div>
    </div>
    <div class="copy-rights">
        <p>© <span id="current-year"></span> Official Website of Bewise Academy. All rights reserved. Powered by
            fullstackdeveloper404.</p>
    </div>
    <script>
        // Function to close the popup
        function closePopup() {
            document.querySelector('.model3').style.display = 'none';
            // Set a flag in localStorage to indicate that the popup has been displayed
            localStorage.setItem('popupDisplayed', 'true');
        }

        // Function to display the popup after a delay
        function displayPopup() {
            console.log("Function called");

            // Check if there are form errors
            const formErrors = document.querySelector('.errorlist'); // Assuming Django errors use this class

            if (formErrors) {
                // Show popup immediately if form errors are present
                document.querySelector('.model3').style.display = 'block';
            } else if (localStorage.getItem('popupDisplayed') !== 'true') {
                // Show popup with a delay if no errors and popup hasn't been shown before
                setTimeout(function () {
                    document.querySelector('.model3').style.display = 'block';
                    localStorage.setItem('popupDisplayed', 'true');
                }, 5000); // Delay only for the first time
            }
        }


        // Call the function to display the popup after the page has loaded
        document.addEventListener('DOMContentLoaded', function () {
            displayPopup();
        });

        const d = new Date();
        let year = d.getFullYear();
        document.getElementById("current-year").innerHTML = year;

        document.addEventListener("DOMContentLoaded", function () {
            var popup = document.getElementById("popup-message");
            var popupText = document.getElementById("popup-text");

            {% if messages %}
            {% for message in messages %}
            popupText.innerHTML = "{{ message }}";
            popup.classList.add("show");
            setTimeout(function () {
                popup.classList.remove("show");
            }, 5000); // Hide after 3 seconds
            {% endfor %}
            {% endif %}
        });
    </script>
</body>

</html>