<!DOCTYPE html>
{% extends 'base.html' %}
{% load static %}
<html lang="en">

<head>
    {% block extrahead %}
    <!-- CSS Files -->
    <link rel="stylesheet" href="{% static './static/css/payment.css' %}">
    {% endblock %}
</head>

<body>
    {% block content %}
    <div class="main-body">
        <div class="header">
            <h1>Payment & Invoices</h1>
        </div>

        <div class="container">
            <!-- Payment Section -->
            <div class="section payment-section">
                <h2>Make Payment</h2>
                <form class="model-content" action="" method="post">
                    {% csrf_token %}
                    <label for="name">Student Name</label>
                    <input type="text" name="student" value="{{ user.studentName }}" readonly>

                    <label for="syllabus">Syllabus Enrolled</label>
                    <input type="text" name="syllabus" value="{{ user.syllabus }}" readonly>

                    <label for="grade">Grade</label>
                    <input type="text" name="grade" value="{{ user.grade }}" readonly>

                    <label for="amount">Amount to Pay</label>
                    <input type="number" name="famount" value="{{ amount }}" readonly>

                    <div class="submit-button">
                        <button id="pay-btn" class="button-b"><span>Pay</span></button>
                    </div>
                </form>
            </div>

            <!-- Invoice List Section -->
            <div class="section invoice-section">
                <h2>Previous Payments</h2>
                <ul class="invoice-list">
                    {% for year, months in invoices_by_year.items %}
                        {% for month, invoices in months.items %}
                            {% for invoice in invoices %}
                            <li class="invoice-item">
                                <span>{{ invoice.day }} {{ invoice.month }}, {{ invoice.year }}</span>
                                <a href="{{ invoice.url }}">Download &nbsp;<i class="fa-solid fa-file-arrow-down"></i></a>
                            </li>
                            {% endfor %}
                        {% endfor %}
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>

    <!-- Razorpay's JavaScript Code -->
    <script src="https://checkout.razorpay.com/v1/checkout.js"></script>
    <script>
        var options = {
            key: "{{ razorpay_merchant_key }}",
            amount: "{{ razorpay_amount }}",
            currency: "{{ currency }}",
            name: "Bewise Academy",
            order_id: "{{ razorpay_order_id }}",
            callback_url: "{{ callback_url }}",
        };

        var rzp1 = new Razorpay(options);
        document.getElementById("pay-btn").onclick = function (e) {
            rzp1.open();
            e.preventDefault();
        };
    </script>
    {% endblock content %}
</body>

</html>
